[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv = "*"
ifaddr = "*"
boto3 = "*"
requests = "*"

[dev-packages]
rope = "*"
coverage = "*"
pytest = "*"
pylint = "*"
flake8 = "*"
wheel = "*"
atomicwrites = "*"

[requires]
python_version = "3.8"
